@font-face {
  font-family: "next-lt-arabic";
  src: url("next-lt-arabic/ArbFONTS-DINNextLTArabic-Regular-2.ttf");
}
html{
  direction: rtl;
}

body {
  font-family: "next-lt-arabic";
  color: #444444;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "next-lt-arabic";
}
h1.section-title{
  text-align: center;
font-weight: bold;
}
h1.section-title:after{
margin-right: 48%;
content:'';
display:block;
width:9.5%; 
border-bottom:3px solid #FE9807;
margin-top: 1rem;
margin-bottom: 4rem;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid black;
  border-top-color: #FE9807;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1acc8d;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2be4a2;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# log in
--------------------------------------------------------------*/
#login{
  background-image: url("../img/login-background.png");
background-size: cover;
background-repeat: no-repeat;
}
#login .login-box{
  margin: 4rem auto;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 30px;
  padding:4rem 7rem;
}
#login .login-box h4{
text-align: center;
color: white;
padding-bottom: 3rem;
}
#login .login-box form input{
  background-color: rgba(255, 255, 255, 0.171);
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 18px;
  margin: 1rem auto 2rem;
}
#login .login-box form input::placeholder {
  color:rgba(255, 255, 255, 0.719);
  opacity: 1;
}
#login .login-box label{
  color: #FE9807;
  display:inline;
}
#login .login-box input#check{
  display:inline;
  border:1px solid #FE9807;
  float: right;
  background-color: transparent;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 10px;
}
#login .login-box a{
  float: left;
  color: white;
}
#login .login-box .login-typs{
  padding-bottom: 3rem;
}
#login .login-box .login-typs a{
  background-color: rgba(255, 255, 255, 0.13);
border-radius: 15px;
padding: 0.4rem 1.3rem;
cursor: pointer;
}
#login .login-box .login-typs a:hover{
  background-color: #fe97074d;
}
#login .login-box .login-typs a#casher{
  float: left;
}
#login .login-box .login-typs a#chief{
  float: right;
}
#login .login-box .login-typs a#delivery{
  margin: 0rem 6.6rem;
}
#login .login-box .login-typs a img{
width: 26px;
display: block;
margin: auto;
}
#login .login-box .login-typs a span{
font-size: 12px;
}
#login .login-box .login-typs a:hover span{
  color: #fe9807;
}
#login .login-box .btn{
  position: absolute;
  top: 520px;
  right: 590px;
font-family: "next-lt-arabic";
font-weight: 500;
display: inline-block;
padding: 0.9rem 3.2rem;
border-radius: 20px;
transition: 0.5s;
color: white;
border: none;
background-image: linear-gradient(180deg, rgb(255, 208, 0), rgb(255, 145, 0));
}
#login .login-box .btn:hover {
background-image: linear-gradient(180deg, rgb(255, 174, 0), rgb(255, 123, 0));
}
@media (max-width:1200px){
  #login .login-box{
    padding:4rem 4rem;
  }
  #login .login-box .login-typs a#delivery{
    margin: 0rem 6.4rem;
  }
  #login .login-box .btn{
    right: 475px;
  }
}
@media (max-width:1025px){
  #login .login-box .btn{
    right: 415px;
  }
}
@media (max-width:992px){
  #login .login-box{
    padding:4rem 2rem;
  }
  #login .login-box .login-typs a#delivery{
    margin: 0rem 4rem;
  }
  #login .login-box .btn{
    right: 365px;
  }
}
@media (max-width:769px){
  #login .login-box{
    padding:4rem 2.5rem;
  }
  #login .login-box .login-typs a#delivery{
    margin: 0rem 3.5rem;
  }
  #login .login-box .btn{
    right: 300px;
  }
}
@media (max-width:576px){
  #login .login-box{
    padding:2rem 2.5rem 4rem;
    margin: 5rem auto;
  }
  #login .login-box h4{
    padding-bottom: 2rem;
  }
  #login .login-box form input{
    margin: 1rem auto;
  }
  #login .login-box .login-typs a#delivery{
    margin: 0rem 7.5rem;
  }
  #login .login-box .btn{
    right: 185px;
    top: 450px;
  }
}
@media (max-width:541px){
  #login .login-box .login-typs a#delivery{
    margin: 0rem 6.8rem;
  }
  #login .login-box .btn{
    right: 175px;
    top: 450px;
  }
}
@media (max-width:420px){
  #login .login-box{
    padding:2rem 1.5rem 4rem;
    margin: 5rem auto;
  }
  #login .login-box h4{
    padding-bottom: 1.5rem;
  }
  #login .login-box form input{
    margin: 1rem auto;
    padding: 0.7rem 1rem;
  }
  #login .login-box .login-typs a{
  padding: 0.4rem 1rem;
  }
  #login .login-box .login-typs a#delivery{
    margin: 0rem 4.8rem;
  }
  #login .login-box .login-typs a img{
    width: 20px;
    }
  #login .login-box .btn{
    right: 110px;
    top: 420px;
  }
}
@media (max-width:375px){
  #login .login-box .login-typs a#delivery{
    margin: 0rem 3.7rem;
  }
  #login .login-box .btn{
    right: 92px;
    top: 420px;
  }
}
@media (max-width:360px){
  #login .login-box .login-typs a#delivery{
    margin: 0rem 3.2rem;
  }
  #login .login-box .btn{
    right: 80px;
    top: 420px;
  }
}
@media (max-width:321px){
  #login .login-box .login-typs a#delivery{
    margin: 0rem 2rem;
  }
  #login .login-box .btn{
    right: 60px;
    top: 420px;
  }
}
@media (max-width:281px){
  #login .login-box .login-typs a#delivery{
    margin: 0rem 0.7rem;
  }
  #login .login-box .btn{
    right: 45px;
    top: 420px;
  }
}
/*--------------------------------------------------------------
# casher page 
--------------------------------------------------------------*/
.header-casher-scrolled {
  background: #171c1c;
  height: 80px;
  box-shadow: 0 5px 10px -4px grey;
}
#casher-page .header-casher{
  background: #171c1c;
}
#casher-page .navbar a{
  color: white;
}
#casher-page .navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #FE9807;
}
#casher-page .navbar a {
  padding: 10px 20px 10px 20px
}
#casher-page #nav-2 {
padding: 10px 80px 10px 30px;
}
#casher-page .navbar li a#nav-2 span{
display: none;
}
#casher-page .navbar-mobile li a#nav-2 span{
display: block;
}
#casher-page .navbar-mobile li a#nav-2 img{
display: none;
}
#casher-page .navbar-mobile a {
color: black;
}
#casher-page .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}
#casher-page .navbar .login-btn {
  color: white;
    background-image: linear-gradient(to bottom, #ecd330 -17%, #ff9500);
    border-radius: 15px;
}
#casher-page .navbar .login-btn:hover {
  color: black;
}
#casher-page .navbar-mobile #nav-2 {
padding: 10px 20px;
}
#casher-page .navbar .dropdown ul a {
color:black;
}
#casher-page .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
  color: #FE9807;
}
#casher-section .cards-container{
  margin-top:14rem;
}
@media (max-width:992px){
  #casher-section .cards-container{
    margin-top:10rem;
  }
}
@media (max-width:361px){
  #casher-section .cards-container{
    margin-bottom:6rem;
  }
}
#casher-section .cards-container .card{
  margin: 0.5rem auto;
  border: none;
  box-shadow: 1px 15px 15px 0 rgba(148, 148, 148, 0.16);
  border-radius: 16px;
}
#casher-section .cards-container .card img{
width: 70%;
margin: 0 auto;
}
#casher-section .cards-container .card a{
color: #171C1C;
margin: 0.5rem auto 1rem;
font-size: 20px;
}
#casher-page .footer {
  background-color: #171c1c; 
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
}
/*--------------------------------------------------------------
# add order page 
--------------------------------------------------------------*/
#add-order-page .header-casher{
  background: #171c1c;
}
#add-order-page .navbar a{
  color: white;
}
#add-order-page .navbar a:hover, .navbar a.active, .navbar li:hover > a {
  color: #FE9807;
}
#add-order-page .navbar a {
  padding: 10px 20px 10px 20px
}
#add-order-page #nav-2 {
padding: 10px 80px 10px 30px;
}
#add-order-page .navbar li a#nav-2 span{
display: none;
}
#add-order-page .navbar-mobile li a#nav-2 span{
display: block;
}
#add-order-page .navbar-mobile li a#nav-2 img{
display: none;
}
#add-order-page .navbar-mobile a {
color: black;
}
#add-order-page .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}
#add-order-page .navbar .login-btn {
  color: white;
    background-image: linear-gradient(to bottom, #ecd330 -17%, #ff9500);
    border-radius: 15px;
}
#add-order-page .navbar .login-btn:hover {
  color: black;
}
#add-order-page .navbar-mobile #nav-2 {
padding: 10px 20px;
}
#add-order-page .navbar .dropdown ul a {
color:black;
}
#add-order-page .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
  color: #FE9807;
}
#add-order-section{
  margin: 7rem auto;
}
#add-order-section .btn-warpper{
margin: 0 30%;
}
#add-order-section .btn-warpper a{
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
background-color: white;
color: #dddddd;
text-decoration: none;
padding:0.1rem 1.1rem 0.3rem;
border: 2px dashed #dddddd;
border-radius: 30px;
  }
  #add-order-section .btn-warpper a img{
    display: none;
    width: 35px;
    margin-bottom: 0.3rem;
  }

  #add-order-section .btn-warpper a.Done{
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgb(255, 208, 0), rgb(255, 145, 0));
    color: white;
  text-decoration: none;
  padding:0.1em 1.2rem 0.4rem;
  border: none;
  border-radius: 30px;
    }
  #add-order-section .btn-warpper hr#done-1,  #add-order-section .btn-warpper hr#done-2{
    display: none;
    width:9.5%; 
    border-bottom:3px solid #FE9807;
    background-color: transparent;
    opacity: 0.7;
    }
    hr#done-1:not([size]) ,hr#done-2:not([size]) {
     height: 40px;
  }
  #add-order-section #order-details-window{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 0px 40px #71686829;
    margin-top: 1rem;
    padding: 1rem;
  }
  .tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }
    .tab button {
      margin: 0 auto;
      background-color: transparent;
    color: #E2DDDD;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
  }
  .tab button:hover {
    color: #FE9807;
    border-bottom: 1px solid #FE9807;
  }
  .tab button.active {
    color: #FE9807;
    border-bottom: 2px solid #FE9807;
  }
    .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  #add-order-section .tabcontent .card{
    border: none;
    text-align: center;
  }
  #add-order-section .tabcontent .card img{
    width: 80%;
    margin: 0 auto;
  }
  #add-order-section .tabcontent .card p{
    margin-top: 0.2rem;
    color: #171C1C;
    font-weight: 600;
  }
  #add-order-section .tabcontent .card p span{
    color: #FE9807;
  }
    #add-order-section .tabcontent .details{
    display: block;
  }
  #add-order-section .tabcontent .details h2{
color: #171C1C;
  }
  #add-order-section .tabcontent .details h2 span {
    border-bottom: 3px solid #FE9807;
  }

  #add-order-section .tabcontent .details header{
    padding-bottom: 1rem;
    border-bottom: 2px solid #71686856 ;
  }
 #add-order-section .tabcontent .details header img{
width: 91px;
  }
 #add-order-section .tabcontent .details header h5
  {
color:#171C1C;
display: inline-block;
margin-right: 1rem;
margin-top:2rem;
  }
  #checkboxes{
    margin: 0 3rem;
  }
  .checkboxgroup {
    display: inline-block;
    text-align: center;
    margin: 0 1rem;
  }
  .checkboxgroup label {
    display: block;
  }
  #quantity-plus, #quantity-minus{
    background-color: white;
    color: #FE9807;
    border: none;
    box-shadow: 1px 0px 3px 1px #71686829;
margin: 1rem; 
  }
  .quantity{
    width: 30px;
    border: none;
text-align: center;
  }
.bold-price{
  text-align: center;
}
  .delete-details{
    margin: 1rem auto;
    float: left;
    background-color: white;
    border: 1px solid #71686870;
    border-radius: 20px;
    margin-right: 50%;
  }
  .delete-details i{
  color: #71686870;
  }
  #add-order-section .content p{
    color:#171C1C;
    display: inline-block;
    margin-right: 1rem;
    margin-top:2rem;
      }

#add-order-section .btn-add-new-order{
        margin: 0.5rem 43%;
        background-image: linear-gradient(180deg, rgb(255, 208, 0), rgb(255, 145, 0));
        color: white;
      text-decoration: none;
      padding:0.5em 1.2rem;
      border: none;
      border-radius: 10px;
      align-self:center;
            }
             #order-details-window-2 , #order-details-window-3, #order-details-window-4{
              display: none;
              width: 100%;
              height: 100%;
              border-radius: 15px;
              box-shadow: 1px 0px 40px #71686829;
              margin: 0 auto;
              margin-top: 1rem;
              padding: 2rem;
            }
            #order-details-window-2 table.table{
border: none;
margin-bottom: 2rem;
            }
            #order-details-window-2 table.table td{
              font-weight: 600;
margin: 1rem;
            }
            #order-details-window-2 table.table td span{
color: #FE9807;
            }
            #order-details-window-2 table.table tr ,th,td{
              border-style: none;
            }
            #order-details-window-2 table.table tr#total
            {margin-top: 1rem;
              border-top: 1px solid rgb(223, 221, 221);
              padding-bottom: 2rem;
              border-bottom: 1px solid rgb(223, 221, 221);
            }
            #order-details-window-2 form{
              margin-top: 3rem;
margin: 1rem;
            }
            #order-details-window-2 form input{
              margin-top: 3rem;
margin: 1rem;
            }
            #order-details-window-2 .btn-grup ,  #order-details-window-3 .btn-grup{
              margin: 0 35%;
            }
            #order-details-window-2 .btn-add-new-order , #order-details-window-3 .btn-add-new-order ,#order-details-window-4 .btn-add-new-order{
              margin: 0.5rem;
              display: inline-block;
              background-image: linear-gradient(180deg, rgb(255, 208, 0), rgb(255, 145, 0));
              color: white;
            text-decoration: none;
            padding:0.5em 1.2rem;
            border: none;
            border-radius: 10px;
            align-self:center;
                  }
                  #order-details-window-2 .btn-edit-order ,  #order-details-window-3 .btn-edit-order{
                    margin: 0.5rem;
                    display: inline-block;
                    background:white;
                    color:#FE9807;
                  text-decoration: none;
                  padding:0.5em 1.1rem;
                  border: 1px solid #FE9807;
                  border-radius: 10px;
                  align-self:center;
                        }

input[type="search"]{
  align-self: center;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  margin-top: 3rem;
  background-color: rgba(216, 214, 214, 0.767);
  width: 40%;
}
@media (max-width:768px){
  input[type="search"]{
    width: 80%;
  }
  #order-details-window-2 .btn-grup, #order-details-window-3 .btn-grup {
    margin: 0 3%;
}
}

.search-result{
  text-align: center;
  align-self: center;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 3rem;
  background-color: rgb(255, 255, 255);
  width: 40%;
}
.search-result table#result-table{
  display: none;
  width: 100%;
  margin: 0.5rem;
}
.search-result table#result-table td{
  padding: 10px;
  border-radius: 14px;
border: 1px solid  rgba(204, 204, 204, 0.767);
}
.search-result input[type="checkbox"]{
  margin: 0.5rem;
}
#add-client-window{
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 0px 40px #71686829;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
}
#add-client-window form{
  margin:3rem;
}
#add-client-window input , #add-client-window select{
  border: 1px solid #FE9807;
  border-radius: 15px;
  margin:0.5rem;
  padding: 0.7rem 2rem;
}
#add-client-window label{
  color: #FE9807;
}
button#btn-3.btn-add-new-order {
  display: none;
  margin: 0 25%;
}
#client-data{
  display: none;
}
#delivery-data .card{
  text-align: center;
  box-shadow: 1px 15px 15px #94949429;
  border-radius: 25px;
margin: 2rem auto 1rem;
padding: 0;
}
#delivery-data .card header.making{
background-color:#FC9E1B4D ;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#delivery-data .card header img ,#delivery-page .card header p{
  display: inline-block;
}
#delivery-data .card .print{
display: inline-block;
float: left;
visibility: visible;
background-color: transparent;
border: none;
}
#delivery-data .card header.on-the-way{
  background-color: #ffcc00a1;
  border-radius: 25px 25px 0 0;
  padding: 5px 0 0;
  text-align: center;
  }
.btn-dark{
  border-radius: 0 0 25px 25px;

}

#add-order-page .footer {
  background-color: #171c1c; 
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
}

/*--------------------------------------------------------------
# delivery page
--------------------------------------------------------------*/

#delivery-page .header-casher{
  background: #171c1c;
}
#delivery-page .navbar a{
  color: white;
}
#delivery-page .navbar a:hover, .navbar a.active, .navbar li:hover > a {
  color: #FE9807;
}
#delivery-page .navbar a {
  padding: 10px 20px 10px 20px
}
#delivery-page #nav-2 {
padding: 10px 80px 10px 30px;
}
#delivery-page .navbar li a#nav-2 span{
display: none;
}
#delivery-page .navbar-mobile li a#nav-2 span{
display: block;
}
#delivery-page .navbar-mobile li a#nav-2 img{
display: none;
}
#delivery-page .navbar-mobile a {
color: black;
}
#delivery-page .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}
#delivery-page .navbar .login-btn {
  color: white;
    background-image: linear-gradient(to bottom, #ecd330 -17%, #ff9500);
    border-radius: 15px;
}
#delivery-page .navbar .login-btn:hover {
  color: black;
}
#delivery-page .navbar-mobile #nav-2 {
padding: 10px 20px;
}
#delivery-page .navbar .dropdown ul a {
color:black;
}
#delivery-page .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
  color: #FE9807;
}
#delivery-section{
  margin: 7rem auto;
}
#delivery-page .footer {
  background-color: #171c1c; 
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
}

#delivery-page .card{
  box-shadow: 1px 15px 15px #94949429;
  border-radius: 25px;
margin: 2rem auto 1rem;
padding: 0;
}
#delivery-page .card header.making{
background-color:#FC9E1B4D ;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#delivery-page .card header img ,#delivery-page .card header p{
  display: inline-block;
}
#delivery-page .card .print{
display: inline-block;
float: left;
visibility: visible;
background-color: transparent;
border: none;
}
#delivery-page .card header.shipping{
background-color:#2AFC1B4D;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#delivery-page .card header.stopped{
  background-color:#E2DDDD;
  border-radius: 25px 25px 0 0;
  padding: 5px 0 0;
  text-align: center;
  }
  #delivery-page .card header.done{
    background-color:  #171C1C ;
    border-radius: 25px 25px 0 0;
    padding: 5px 0 0;
    text-align: center;
    }
    #delivery-page .card header.done p{
color: white;
      }
.modal-header ,.modal-footer{
  border: none;
  border-bottom: none;
  border-top: none;
}
.modal-content{
  text-align: center;
  border-radius: 35px;
}
#delivery-page .card header.on-the-way{
  background-color: #ffcc00a1;
  border-radius: 25px 25px 0 0;
  padding: 5px 0 0;
  text-align: center;
  }
  #toprint{
    display: none;
  }
/*--------------------------------------------------------------
# inner-kitchen page
--------------------------------------------------------------*/

#inner-kitchen-page .header-casher{
  background: #171c1c;
}
#inner-kitchen-page .navbar a{
  color: white;
}
#inner-kitchen-page .navbar a:hover, .navbar a.active, .navbar li:hover > a {
  color: #FE9807;
}
#inner-kitchen-page .navbar a {
  padding: 10px 20px 10px 20px
}
#inner-kitchen-page #nav-2 {
padding: 10px 80px 10px 30px;
}
#inner-kitchen-page .navbar li a#nav-2 span{
display: none;
}
#inner-kitchen-page .navbar-mobile li a#nav-2 span{
display: block;
}
#inner-kitchen-page .navbar-mobile li a#nav-2 img{
display: none;
}
#inner-kitchen-page .navbar-mobile a {
color: black;
}
#inner-kitchen-page .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}
#inner-kitchen-page .navbar .login-btn {
  color: white;
    background-image: linear-gradient(to bottom, #ecd330 -17%, #ff9500);
    border-radius: 15px;
}
#inner-kitchen-page .navbar .login-btn:hover {
  color: black;
}
#inner-kitchen-page .navbar-mobile #nav-2 {
padding: 10px 20px;
}
#inner-kitchen-page .navbar .dropdown ul a {
color:black;
}
#inner-kitchen-page .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
  color: #FE9807;
}
#inner-kitchen-section{
  margin: 7rem auto;
}
#inner-kitchen-page .footer {
  background-color: #171c1c; 
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
}

#inner-kitchen-page .card{
  box-shadow: 1px 15px 15px #94949429;
  border-radius: 25px;
margin: 2rem auto 1rem;
padding: 0;
}
#inner-kitchen-page .card header.making{
background-color:#FC9E1B4D;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#inner-kitchen-page .card header img ,#inner-kitchen-page .card header p{
  display: inline-block;
}
#inner-kitchen-page .card .print{
display: inline-block;
float: left;
background-color: transparent;
border: none;
}

#inner-kitchen-page .card header.shipping{
background-color:#2AFC1B4D;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#inner-kitchen-page .card header.stopped{
  background-color:#E2DDDD;
  border-radius: 25px 25px 0 0;
  padding: 5px 0 0;
  text-align: center;
  }
  
  #inner-kitchen-page .card header.done{
    background-color: #171C1C;
    border-radius: 25px 25px 0 0;
    padding: 5px 0 0;
    text-align: center;
    }
    #inner-kitchen-page .card header.done p{
color: white;
      }
.modal-header ,.modal-footer{
  border: none;
  border-bottom: none;
  border-top: none;
}
.modal-content{
  text-align: center;
  border-radius: 35px;
}
.confirm-meal{
  margin: 0.5rem;
  background-image: linear-gradient(180deg, rgb(255, 208, 0), rgb(255, 145, 0));
  color: white;
text-decoration: none;
padding:0.3rem 1.5rem;
border: none;
border-radius: 15px;
align-self:center;
float: right;
}
.deny-meal{
  margin: 0.5rem;
  background:white;
  color:#FE9807;
text-decoration: none;
padding:0.2rem 1.4rem;
border: 1px solid #FE9807;
border-radius: 15px;
align-self:center;
float: left;
}
/*--------------------------------------------------------------
# orders page
--------------------------------------------------------------*/
#orders-page .header-casher{
  background: #171c1c;
}
#orders-page .navbar a{
  color: white;
}
#orders-page .navbar a:hover, .navbar a.active, .navbar li:hover > a {
  color: #FE9807;
}
#orders-page .navbar a {
  padding: 10px 20px 10px 20px
}
#orders-page #nav-2 {
padding: 10px 80px 10px 30px;
}
#orders-page .navbar li a#nav-2 span{
display: none;
}
#orders-page .navbar-mobile li a#nav-2 span{
display: block;
}
#orders-page .navbar-mobile li a#nav-2 img{
display: none;
}
#orders-page .navbar-mobile a {
color: black;
}
#orders-page .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}
#orders-page .navbar .login-btn {
  color: white;
    background-image: linear-gradient(to bottom, #ecd330 -17%, #ff9500);
    border-radius: 15px;
}
#orders-page .navbar .login-btn:hover {
  color: black;
}
#orders-page .navbar-mobile #nav-2 {
padding: 10px 20px;
}
#orders-page .navbar .dropdown ul a {
color:black;
}
#orders-page .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
  color: #FE9807;
}
#orders-page-section{
  margin: 7rem auto;
}
#orders-page .footer {
  background-color: #171c1c; 
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden;
}

#orders-page .card{
  box-shadow: 1px 15px 15px #94949429;
  border-radius: 25px;
margin: 2rem auto 1rem;
padding: 0;
}
#orders-page .card header.making{
background-color:#FC9E1B4D;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#orders-page .card header img ,#orders-page .card header p{
  display: inline-block;
}
#orders-page .card .print{
display: inline-block;
float: left;
background-color: transparent;
border: none;
}
#orders-page .card header.shipping{
background-color:#2AFC1B4D;
border-radius: 25px 25px 0 0;
padding: 5px 0 0;
text-align: center;
}
#orders-page .card header.stopped{
  background-color:#E2DDDD;
  border-radius: 25px 25px 0 0;
  padding: 5px 0 0;
  text-align: center;
  }
  #orders-page .card header.done{
    background-color: #171C1C;
    border-radius: 25px 25px 0 0;
    padding: 5px 0 0;
    text-align: center;
    }
    #orders-page .card header.on-the-way{
      background-color: #ffcc00a1;
      border-radius: 25px 25px 0 0;
      padding: 5px 0 0;
      text-align: center;
      }
    #orders-page .card header.done p{
color: white;
      }
.modal-header ,.modal-footer{
  border: none;
  border-bottom: none;
  border-top: none;
}
.modal-content{
  text-align: center;
  border-radius: 35px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  height: 80px;
  box-shadow: 0 5px 10px -4px grey;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
  border-radius: 12px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "next-lt-arabic";
  color: #544E47;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar li a img {
height: 27px;
margin-left: 7px;
}
#nav-2{
  padding: 10px 45px 10px 30px;
}
.navbar a i {
  font-size: 20px;
  line-height: 0;
  margin: 15px 5px;
}
.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #FE9807;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  margin: 0;
  width: 90px;
  padding: 3px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(236, 236, 236, 0.342);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color:white;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
   color: #FE9807;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.navbar .login-btn{
  background-color: rgba(255, 166, 0, 0.555);
  padding: 0.2rem 1.6rem 0.7rem;
  margin-right: 0.8rem;
  color: white;
  border-radius: 25px;
}
.navbar .login-btn:hover{
  color: rgb(29, 27, 27);
}
.navbar .account-btn{
  background-color: rgba(255, 166, 0, 0.555);
  padding: 0.2rem 3.1rem 0.7rem ;
  margin-right: 0.8rem;
  color: white;
  border-radius: 25px;
}
.navbar .account-btn:hover{
  color: rgb(29, 27, 27);
}
.navbar .dropdown-2 ul {
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  margin: 0;
  width: 150px;
  padding: 3px 0;
  z-index: 99;
  opacity: 0;
  margin-right: 1rem;
  visibility: hidden;
  background: rgba(236, 236, 236, 0.342);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}

.navbar .dropdown-2 ul a {
  padding: 5px 20px 0px;
  font-size: 14px;
  text-transform: none;
  color:white;
}

.navbar .dropdown-2 ul a i {
  font-size: 14px;
}

.navbar .dropdown-2 ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a { 
   color: #FE9807;
}

.navbar .dropdown-2:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown-2 .dropdown-2 ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown-2 .dropdown-2:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown-2 .dropdown-2 ul {
    left: -90%;
  }
  .navbar .dropdown-2 .dropdown-2:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.header-scrolled .mobile-nav-toggle{
  color: rgb(65, 63, 63);
}
.header-scrolled .fa-times{
  color: #fff;
}
@media (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar li a img{
    display: none;
  }
  #nav-2{
    padding: 10px 20px;

  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #171c1cd3;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile > ul > li > a:before {
  left: 20px;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FE9807;
}


.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  background: transparent;
  box-shadow: none;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: rgb(73, 73, 73);

}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #FE9807;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.navbar-mobile .login-btn{
  float: right;
}
